<template>
  <div id="#app">
    <!-- <h1>I AM AN APP</h1> -->
    <h1 class="center">Lens</h1>
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width" id="appTabRow">
          <li class="tab col s4">
            <a href="#statistics" v-bind:class="{'active': initialTab == 'statistics'}">
              <span>
                <i class="material-icons">show_chart</i>
              </span>
              <span>Statistics</span>
            </a>
          </li>
          <li class="tab col s4">
            <a href="#network" v-bind:class="{'active': initialTab == 'network'}">
              <span>
                <i class="material-icons">share</i>
              </span>
              <span>Network</span>
            </a>
          </li>
          <li class="tab col s4">
            <a href="#goals" v-bind:class="{'active': initialTab == 'goals'}">
              <i class="material-icons">grade</i>
              Goals
            </a>
          </li>
          <li class="tab col s4">
            <a href="#options">
              <i class="material-icons">tune</i>
              Options
            </a>
          </li>
          <li class="tab col s4">
            <a href="#import-export">
              <i class="material-icons">save</i>
              Import/Export
            </a>
          </li>
          <li class="tab col s4">
            <a href="#help">
              <i class="material-icons">help</i>
              Help
            </a>
          </li>
        </ul>
      </div>
      <div id="statistics" class="col s12">
        <ContactStats />
      </div>
      <div id="network" class="col s12">Network goes here</div>
      <div id="goals" class="col s12">Goals go here</div>
      <div id="options" class="col s12">
        <Options />
      </div>
      <div id="import-export" class="col s12">Save Goes Here</div>
      <div id="help" class="col s12">Help Goes Here</div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
// import Component from "vue-class-component"
import DevTools from "views/DevTools.vue";
import ContactStats from "views/ContactStats.vue";
import Options from "views/Options.vue";
import M from "materialize-css";
import $ from "jquery";
import { getOptions } from '../controllers/options';

export default {
  name: "App",
  data: function() {
    return {
      msg: "Hello world!",
      opts: null,
      initialTab: null,
    };
  },
  components: { DevTools, ContactStats, Options },
  mounted: function() {
    M.AutoInit();
    console.log(`app: loaded`);
  },
  beforeMount: async function() {
    this.opts = await getOptions(globalThis.browser);
    this.initialTab = this.opts.Runtime.initialTab.split('.')[0];
    $(document).ready(async () => {
      this.opts = await getOptions(globalThis.browser);
      this.initialTab = this.opts.Runtime.initialTab.split('.')[0];
      try {
        $(".tabs").tabs();
      } catch (err) {
        // This is a "false positive" error...tabs are still produced.
        // console.error("Failure loading tabs");
        // console.error(err);
      }
    });
    console.log(`-- BEFORE MOUNT --`);
    if(!globalThis.browser.addressBooks) {
      throw new Error("No address books");
    }
    M.Tabs.getInstance(document.getElementById('appTabRow')).select('#' + this.initialTab);
  }
};

// export default app;
</script>