<template>
  <div id="#app">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width" id="#statsTabRow">
          <li class="tab col s4">
            <a href="#overview">
              <span>Overview</span>
            </a>
          </li>
          <li class="tab col s4">
            <a href="#times">
              <span>Times</span>
            </a>
          </li>
          <li class="tab col s4">
            <a href="#give-take">
              <span>Give &amp; Take</span>
            </a>
          </li>
        </ul>
      </div>
      <div id="overview" class="col s12">
        <StatsOverview />
      </div>
      <div id="times" class="col s12">
        <StatsTimes />
      </div>
      <div id="give-take" class="col s12">
        <StatsGiveTake />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import * as $ from "jquery";
import * as M from "materialize-css";
import StatsOverview from "./stats/Overview.vue";
import StatsBeats from "./stats/Beats.vue";
import StatsTimes from "./stats/Times.vue";
import StatsGiveTake from "./stats/GiveTake.vue";
import { getOptions } from "../controllers/options";

export default {
  name: "ContactStats",
  components: { StatsOverview, StatsTimes, StatsGiveTake },
  mounted: async function() {
    this.opts = await getOptions(globalThis.browser);

    $(document).ready(function () {
      let tabsInstance = M.Tabs.getInstance($('#statsTabRow')[0]).select('#' + this.opts.Runtime.initialTab);
    });
  },
  data: function() {
    return {
      opts: null,
      initialTab: null
    };
  }
};
</script>