<template>
  <div id="dev-tools">
    <div id="errorAlert" class="modal">
      <div class="modal-content">
        <h4 v-if="modalErrorText">error</h4>
        <h4 v-if="modalSuccessText">Success</h4>
        <p v-if="modalErrorText">{{ modalErrorText }}</p>
        <p v-if="modalSuccessText">{{ modalSuccessText }}</p>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">OK</a>
      </div>
    </div>
    <section>
      <h2>Unit Tests</h2>
      <form action="#">
        <p>
          <label>
            <input type="checkbox" v-model="runWithSample" v-bind:disabled="!fakeDataPresent" />
            <span>Run with Sample data</span>
          </label>
        </p>
        <a
          class="btn"
          v-bind="{btn: true, disabled: fakeDataGenerationRunning}"
          @click="generateFakeData()"
        >
          <i v-if="fakeDataGenerationRunning" class="material-icons">settings</i>
          Generate Fake Data
        </a>
        <a class="btn" @click="runUnitTests()">Run Unit Tests</a>
        <a v-if="fakeDataPresent" class="btn" @click="clearFakeProfile()">Clear Fake Data</a>
        <p v-if="!fakeDataPresent" class="red lighten-4">Fake data is not present.</p>
      </form>
      <!-- <table id="unitTestResults" v-if="testResults">
        <thead>
          <tr>
            <th>Name</th>
            <th>Pass</th>
          </tr>
        </thead>

        <tbody v-for="testResult in testResults">
          <tr>
            <td>{{ testResult.title }}</td>
            <td>
              <i class="material-icons green" v-if="testResult.pass">check_box</i>
              <i class="material-icons red" v-else>close</i>
            </td>
          </tr>
          <tr v-if="testResult.error" class="pink lighten-4">
            <td>{{ testResult.error }}</td>
            <td></td>
          </tr>
        </tbody>
      </table> -->
    </section>

    <section>
      <h2>Missing assets?</h2>
      <a class="btn" @click="runCheckAssets()">
        <i class="material-icons">play_circle_filled</i>
        Check Assets
      </a>
      <table id="assetChecklist">
        <thead>
          <tr>
            <th>Asset Name</th>
            <th>Url</th>
            <th>Found</th>
          </tr>
        </thead>

        <tbody>
          <!-- <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>-->
        </tbody>
      </table>
    </section>
  </div>
</template>

<script>
import $ from "jquery";
import M from "materialize-css";
import Vue from "vue";
import { getAddressBooksSync, getAddressBooks } from "../lib/contacts";
import { injectFakeContacts } from "../lib/devtools";
import { fakeProfile } from "../lib/fake/profile";
import { mergeAndCompare } from "merge-anything";
import faker from "faker";
import axios from "axios";
import stringify from "fast-json-stable-stringify";
import { FakeThunderbirdBrowser } from "../lib/fake/browser";
import { AddressBookNode } from "../lib/browser";
import { unitTest, TestResult } from "../lib/unittest";
import {
  createModelSchema,
  primitive,
  reference,
  list,
  object,
  identifier,
  serialize,
  deserialize
} from "serializr";
import { GlobalThis, Browser } from "../lib/browser";
import { getBrowser } from "../lib/util";
import { _AddressBooks } from "../lib/fake/browser";

const INDEX_FAKE_PROFILE = "ContantTracker";

function preferFunctions(originVal, newVal, key) {
  if (typeof originVal == "function") {
    console.log(`${key} is a function, so preferring that`);
    return originVal;
  }
  return newVal;
}

function objectify(instance) {
  return JSON.parse(stringify(instance));
}

export default {
  name: "DevTools",
  // calculated: {},
  methods: {
    async clearFakeProfile() {
      console.log("Clearing fake profile...");
      let browser = getBrowser(globalThis);
      await browser.storage.local.remove(["ContactTracker"]);
      console.log("Removed:");
      if (browser)
        console.log(Object.keys(await browser.storage.local.get({})));
      globalThis.window.location.reload();
    },

    async runUnitTests() {
      let browser = getBrowser(globalThis);
      if (!browser)
        throw new Error(`Could not retrive browser from globalThis`);
      if (this.runWithSample) {
        let browserData = (await browser.storage.local.get({})).ContactTracker;
        try {
          console.log("Running unit tests with: ");
          console.log(browserData);
          browser = FakeThunderbirdBrowser.fromJson(browser, browserData);
        } catch (err) {
          console.error(err);
        }
      }
      this.testResults = await unitTest(browser);
    },

    async generateFakeData() {
      let browser = getBrowser(globalThis);
      if (!browser) {
        throw new Error(`Browser does not exist.`);
      }
      let _modal = M.Modal.getInstance($(".modal")[0]);
      this.fakeDataGenerationRunning = true;
      let st = browser.storage.local;
      try {
        let profile = await fakeProfile(browser);
        this.unitTestBrowser = profile;
        this.fakeDataGenerationRunning = false;
        console.log("fake browser profile generated: ");
        console.log(JSON.stringify(profile.toJson()));
        await st.set({ ContactTracker: JSON.stringify(profile.toJson()) });
        let data = await st.get({});
        console.log("verification of created data:");
        console.dir(data.ContactTracker);
        this.modalSuccessText = "Model Generated";
        _modal.open();
      } catch (err) {
        console.error(err);
        this.modalErrorText = stringify(err);
        _modal.open();
        this.unitTestBrowser = null;
        this.fakeDataGenerationRunning = false;
      }
    },
    runCheckAssets() {
      let outputTable = $("#assetChecklist tbody");
      $(outputTable).empty();
      console.log(outputTable);
      let assets = [
        {
          url: "materialize/js/materialize.min.js",
          description: "Materialize (JS)"
        },
        {
          url: "materialize/css/materialize.min.css",
          description: "Materialize (CSS)"
        },
        {
          url: "materialize/css/materialize.min.css",
          description: "Materialize (CSS, minified)"
        },
        { url: "fonts.css", description: "Google Fonts Configuration" }
        // {url: "./fonts.css", description: "Google Fonts Configuration"},
      ];

      function addResult(
        outputTable,
        asset,
        success
      ) {
        console.log(`Adding ${JSON.stringify(asset)} to ${$(outputTable)}`);
        let src = `
<tr>
  <td>${asset.description}</td>
  <td>${asset.url}</td>
  <td>${success}</td>
</tr>`;
        console.log(src);
        $(outputTable).append(src);
      }
      let browser = getBrowser(globalThis);
      if (!browser) {
        throw new Error(`Browser does not exist.`);
      }

      assets.forEach(asset => {
        let success = false;
        if (!browser) {
          throw new Error(`Browser does not exist.`);
        }
        console.log(`GET ${window.location.origin + "/" + asset.url}`);
        console.log(JSON.stringify(browser.runtime));
        let fullUrl = window.location.origin + "/" + asset.url;
        // let fullUrl = globalThis.browser.runtime.getUrl(assets);
        axios
          .get(fullUrl)
          .then(resp => {
            addResult(outputTable, asset, true);
          })
          .catch(err => {
            console.log(err);
            addResult(outputTable, asset, false);
          });
      });
    },
    createContacts(e) {
      let browser = getBrowser(globalThis);
      // if (!browser) {
      //   throw new Error(`Browser does not exist.`);
      // }
      e.preventDefault();
      let id = $("#addressBooks").first().prop("id");
      console.log(
        `Generating ${this.nContacts} contacts into address book ${id}`
      );
      injectFakeContacts(browser, id, this.nContacts);
    },
    setAddressBookId(id) {
      this.addressBookId = id;
    }
  },
  computed: {},
  asyncComputed: {
    async fakeDataPresent() {
      let browser = getBrowser(globalThis);
      if (!browser) {
        throw new Error(`Browser does not exist.`);
      }
      if (!(browser && browser.storage && browser.storage.local)) {
        console.log(`browser or localData not available`);
        return false;
      }
      let st = browser.storage.local;
      let fakeData = (await st.get({})).ContactTracker;
      return fakeData != null && fakeData != undefined;
    }
  },
  data : function () {
    let browser = getBrowser(globalThis);
    return {
      myPort: browser.runtime.connect({ name: "port-from-cs" }),
      nContacts: 0,
      addressBookId: null,
      addressBooks: [],
      runWithSample: false,
      unitTestBrowser: null,
      fakeDataGenerationRunning: false,
      modalErrorText: null,
      modalSuccessText: null,
      testResults: null,
    };
  },
  mounted : () => {
    console.log("Get all address books:");
    let browser = globalThis.browser;
    if (!browser) {
      throw new Error(`Browser does not exist.`);
    }
    if (!browser.addressBooks) {
      console.error(browser.addressBooks);
      throw new Error(`address books do not exist`);
    }
    getAddressBooks(browser).then((books) => {
      if (!browser) {
        throw new Error(`Browser does not exist.`);
      }
      this.addressBooks = books;
      books.forEach((book, i) => {
        let selected = i == 0 ? "selected=1" : "";
        let op = `<option value="${book.id}">${book.name}</option>`;
        // console.log(op);
        $("#addressBooks").append(op);
        M.FormSelect.init($("addressBooks"));
      });
    });
    $(document).ready(function() {
      try {
        $(".modal").modal();
      } catch (e) {
        // ignored
      }
    });
  }
}
</script>