<template>
  <div id="options" class="container" v-if="userOpts">
    <form>
      <h2>Options</h2>
      <div id="application-options" v-if="userOpts.Runtime">
        <h3>Application</h3>
        <label>Initial Tab</label>
        <select class="browser-default" v-model="userOpts.Runtime.initialTab" @change="saveOptions">
          <option value="statistics.overview">Statistics / Overview</option>
          <option value="statistics.times">Statistics / Times</option>
          <option value="statistics.give-take">Statistics / Give &amp; Take</option>
          <option value="network">Network</option>
          <option value="goals">Goals</option>
        </select>
      </div>
      <div id="account-options">
        <h3>My Accounts</h3>
        <p>What accounts would you like to use in the statistics collection?</p>
        <p v-for="account in accounts">
          <label>
            <input
              type="checkbox"
              v-bind:checked="userOpts.Account.collectAccounts[account.id]"
              @click="updateCheckedAccounts($event, account.id)"
            />
            <span v-html="suggestAddition(account.name)" />
          </label>
        </p>
        <h4>My Email Addresses</h4>
        <p>
          <strong>Enter the email addresses you use for your accounts.</strong>
          This is to help the system determine which messages you're sending.
        </p>
        <div class="chips" id="myAddresses"></div>
        <h4>Ignored Addresses</h4>
        <p>
          <strong>Enter email addresses (or a pattern) you'd like to ignore.</strong>
          You can either enter a full email address or (if you're a geek) a regular expression. These will not be taken into account for statistics collection.
        </p>
        <div class="chips" id="ignoreAddresses"></div>
      </div>
      <h3>Statistics Collection</h3>
      <label for="collectionAccuracy">Collection Accuracy vs. Speed</label>
      <div class="range-field row valign-wrapper">
        <div class="col s1 push-l1">
          <i class="material-icons">adjust</i>
        </div>
        <div class="col l7">
          <input
            id="collectionAccuracy"
            type="range"
            min="0"
            max="500"
            step="10"
            @change="setCollectionAccuracy"
          />
        </div>
        <div class="col s1 pull-l1">
          <i class="material-icons">directions_run</i>
        </div>
      </div>
      <div>
        <blockquote>Collect every {{ userOpts.StatCollection.skipN }} messages.</blockquote>
      </div>
    </form>
  </div>
</template>

<script>
import * as $ from "jquery";
import * as M from "materialize-css";
import merge from "lodash.merge";
import { getOptions, saveOptions, newOptions } from "controllers/options";
import { EMAIL_REGEXP } from "../lib/util";
import { AssertionError } from "assert";

export default {
  methods: {
    initChips : function() {

    let globalOptions = this.userOpts;

    let cruchChips = this.cruchChips;


      M.Chips.init($('.chips'));

      let myAddresses = document.getElementById("myAddresses");
      let ignoreAddresses = document.getElementById("ignoreAddresses");

      // https://stackoverflow.com/a/28258167
      // $("select").material_select();
      // rather...
      // $("select").formSelect();

      if (!myAddresses) {
        throw new AssertionError(`myAddresses is null`);
      }

      if (!ignoreAddresses) {
        throw new AssertionError(`ignoreAddresses is null`);
      }

      console.log(`Initializing ${$(".chips").length} chips`);
      M.Chips.init(myAddresses, {
        data: globalOptions.Account.myAddresses.map(addr => {
          return { tag: addr };
        }),
        onChipAdd: async function($el, chip) {
          await cruchChips($el[0]);
        },
        onChipDelete: async function($el, chip) {
          await cruchChips($el[0]);
        }
      });
      M.Chips.init(ignoreAddresses, {
        data: globalOptions.Account.ignoreAddresses.map(addr => {
          return { tag: addr };
        }),
        onChipAdd: async function($el, chip) {
          await cruchChips($el[0]);
        },
        onChipDelete: async function($el, chip) {
          await cruchChips($el[0]);
        }
      });

      // Configure the accuracy range.
      $("#collectionAccuracy").val(this.userOpts.StatCollection.skipN);
    },
    suggestAddition(text) {
      // let found = [...text.matchAll(EMAIL_REGEXP)];
      // console.log(`suggestAddition:`);
      // if (!found || found.length == 0) return text;
      // let i = 0;
      // for (let match of found) {
      //   for (let group of match) {
      //     if (!group) continue;
      //     if (!EMAIL_REGEXP.test(group)) continue;
      //     console.log(group);
      //     let i1 = text.indexOf(group);
      //     let i2 = group.length;
      //     text =
      //       text.substring(0, i1) +
      //       `<a class='dropdown-trigger' data-target='suggest${i}'>` +
      //       text.substring(i1, i2) +
      //       `</a>` +
      //       text.substring(i2) +
      //       `<ul class='dropdown-content' id='suggest${i}'` +
      //       `<li>` +
      //       `<a @click="addMyEmail('${group}')">` +
      //       `Add to <strong>My Emails</strong>` +
      //       `</a>` +
      //       `</li>` +
      //       `</ul>`;
      //       ++i;
      //   }
      // }
      // TODO
      return text;
    },
    async saveOptions() {
      await saveOptions(globalThis.browser, this.userOpts);
      M.toast({ html: "Options have been saved" });
    },
    async setCollectionAccuracy($e) {
      console.log($e);
      let value = $e.target.value;
      this.userOpts.StatCollection.skipN = value;
      await this.saveOptions();
    },
    async setInitialTab($e) {
      let value = $e.target.value;
      this.userOpts.Runtime.initialTab = value;
      await this.saveOptions();
    },
    async setInitialSubTab($e) {
      let value = $e.target.value;
      this.userOpts.Runtime.initialTab =
        this.userOpts.Runtime.initialTab + "." + value;
      await this.saveOptions();
    },
    async updateCheckedAccounts($event, accountId) {
      this.userOpts.Account.collectAccounts[accountId] = $event.target.checked;
      saveOptions(globalThis.browser, this.userOpts);
    },
    async cruchChips($el) {
      let id = $($el).attr("id");
      console.log(`Changing ${id}`);
      console.log($el);
      this.userOpts.Account[id] = $el.M_Chips.chipsData.map(data => data.tag);
      saveOptions(globalThis.browser, this.userOpts);
    },
    isTabSelected(tabId, subTabId) {
      if (!this.userOpts.Runtime) return false;
      if (subTabId) {
        return this.userOpts.Runtime.initialTab == `${tabId}.${subTabId}`;
      }
      return this.userOpts.Runtime.initialTab == tabId;
    }
  },
  computed: {
    asyncOpts: async function() {
      return await getOptions(globalThis.browser);
    }
  },
  asyncComputed: {
    accounts: async () => {
      return (await globalThis.browser.accounts.list()).filter(
        account => account.type == "imap"
      );
    }
  },
  beforeCreate: async function() {
    this.userOpts = await getOptions(globalThis.browser);
    console.log(`Retreived options:`);
    console.log(this.userOpts);
    let initChips = this.initChips;
    $(document).ready(function() {
      initChips();
    });
  },
  mounted: async function() {
    // this.userOpts = await getOptions(globalThis.browser);
  },
  data: function() {
    return {
      userOpts: null
    };
  }
};
</script>