<template>
  <div id="times">
    <h2>Give &amp; Take</h2>
    <div class="lens-explanation">
      The following charts can give you an idea of how much your replying to
      specific contacts.
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import Chart from "chart.js";
import { Statistics, BeatPoints } from "lib/analytics";
import { userIsRecipient, userIsAuthor } from "lib/util";
import { getGiveTakeBarChart } from "../../controllers/stats/giveTake";

/**
const ChartButton = Vue.extend({
  template: `<a @click="displayChart='${displayName}'"
  v-bind:class="{'primary': '${visibleDisplay}'=='${displayName}',
    'secondary': '${visibleDisplay}' != '${displayName}',
    'btn': true}">
  ${label}
  </a>`,
  props: {
    displayName: null,
    visibleDisplay: null,
    label: null,
  },
});
**/

export default {
  name: "StatsGiveTake",
  asyncComputed: {},
  beforeMount: async function() {},
  data: function() {
    return {
      statistics: null
    };
  }
};
</script>