<template>
  <div id="overview">
    <!-- modal -->
    <div id="modalClearCollection" class="modal">
      <div class="modal-content">
        <h4>Clear Collection?</h4>
        <p>That's a lot of data. Are you sure you want to clear it all?</p>
      </div>
      <div class="modal-footer">
        <a
          @click="clearStatsCollection('yes')"
          class="modal-close waves-effect waves-green btn-flat"
        >Yes</a>
        <a
          @click="clearStatsCollection('no')"
          class="modal-close waves-effect waves-red btn-flat"
        >No</a>
      </div>
    </div>

    <h1>Overview</h1>
    <a class="btn" @click="clearStatsCollection">Clear Statistics</a>
    <!-- stats have not been generated -->
    <div v-if="statisticsAreCollected != 'full'" class="grey lighten-3">
      <p>
        {{ statisticsCollection.current }} / {{ statisticsCollection.total }} ({{ statisticsCollection.percent }}%)
        <span
          v-if="statisticsCollection.estimatedDuration"
        >{{ statisticsCollection.estimatedDuration }} remaining</span>
      </p>
      <p v-if="statisticsAreCollected == 'none'">Statistics have not been generated.</p>
      <p v-else>Statistics have not fully been generated.</p>
      <a
        v-if="statisticsCollection.running"
        class="btn"
        @click="pauseStatsCollection"
      >Pause Collection</a>
      <a
        class="btn"
        v-else-if="statisticsAreCollected == 'none'"
        @click="runStatsCollection"
      >Start Collection</a>
      <a class="btn" v-else @click="runStatsCollection">Continue Collection</a>
      <div class="progress">
        <div class="determinate" v-bind:style="statCollectionProgressStyle"></div>
      </div>
    </div>
    <div>
      <h4>Sent Messages:</h4>
      <canvas id="sentMessages"></canvas>
    </div>
    <div>
      <h4>Received Messages:</h4>
      <canvas id="receivedMessages"></canvas>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import Chart from "chart.js";
import { getContactPieChart } from "../../controllers/stats/overview";
// import { FakeThunderbirdBrowser, _Accounts } from "../../lib/fake/browser";
// import { preferFunctions, ContentMessageListener } from "../../lib/util/index";
import { mergeAndCompare } from "merge-anything";
// import { Statistics } from "lib/analytics/";
import { StatisticsRunner } from "../../lib/StatisticsRunner";
// import { GlobalThis } from "../../lib/browser";
import AsyncComputed from "vue-async-computed";
// import AsyncMethods from "vue-async-methods";
import Vue from "vue";
import initMessenger from "../../lib";
import { ContentMessageListener } from "../../lib/util/messenger/ContentMessageListener";
import moment from "moment";
import { setDirty } from "../../lib/util";
// import {tsRunStatsCollection} from "../../controllers/stats/overview"

function getBrowser(_globalThis) {
  if (!_globalThis && "browser" in globalThis) {
    return globalThis.browser;
  } else if (_globalThis) {
    return _globalThis.browser;
  }
}

async function showChart(ctx, browser) {
  console.log("context:");
  console.log(ctx);
  let chart = await getContactPieChart(browser, ctx, "sent");
  console.log("chart:");
  console.log(chart);
}

// Example Listener

// content-script.js

// END example listener

async function showSampleChart(ctx) {
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: "line",

    // The data for our dataset
    data: {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
        {
          label: "My First dataset",
          backgroundColor: "rgb(255, 99, 132)",
          borderColor: "rgb(255, 99, 132)",
          data: [0, 10, 5, 2, 20, 30, 45]
        }
      ]
    },

    // Configuration options go here
    options: {}
  });
}

$(document).ready(async function() {
  $(".modal").modal();
});

export default {
  name: "StatsOverview",
  mounted: function() {
    let sentMessageChart = $("#sentMessages")[0];
    let sentMessageContext = sentMessageChart.getContext("2d");
    showChart(sentMessageContext, globalThis.browser);
    let receivedMessagesChart = $("#receivedMessages")[0];
    let receivedMessagesContext = receivedMessagesChart.getContext("2d");
    showChart(receivedMessagesContext, globalThis.browser);
  },
  methods: {
    runStatsCollection: async function() {
      console.log(`runStatistics`);
      this.statisticsCollectionRunner = new StatisticsRunner(
        globalThis.browser,
        null,
        this.onStatsProgress,
        this.onStatsComplete
      );
      await this.statisticsCollectionRunner.resume();
      this.statisticsCollectionRunner.run();
      this.statisticsCollection.running = true;
    },
    async pauseStatsCollection() {
      await this.statisticsCollectionRunner.saveProgress();
      await this.statisticsCollectionRunner.pause();
      this.statisticsCollection.running = false;
    },
    async clearStatsCollection(yes) {
      if (yes == "no") return;
      if (yes == "yes") {
        globalThis.browser.storage.local.remove("Statistics");
        // await this.statisticsCollectionRunner.clearAll();
        globalThis.window.location.reload();
        return;
      }
      M.Modal.getInstance($(".modal")).open();
    },
    async onStatsProgress(current, total, data) {
      let percent = Math.round((current / total) * 100);
      this.statCollectionProgressStyle = {
        width: `${percent}%`
      };


      if (current > 0 && (current % 10 == 0) || current >= total - 2)
        await this.statisticsCollectionRunner.saveProgress();

      this.statisticsCollection.total = total;
      this.statisticsCollection.percent = percent;
      this.statisticsCollection.nTotalCollected += 1;
      if (!this.statisticsCollection.startTime && current >= 0) {
        this.statisticsCollection.startTime = new Date();
      }
      if (!this.statisticsCollection.startTime) return;
      this.statisticsCollection.current = current;
      let start = this.statisticsCollection.startTime.getTime();
      let now = new Date().getTime();
      let past = now - start;
      let unit = past / this.statisticsCollection.nTotalCollected;
      let est = unit * (total - current);
      let estDuration = moment.duration(est, "millisecond");
      this.statisticsCollection.estimatedDuration = estDuration
        .locale("en")
        .humanize();
      // console.log(estDuration.toJSON());
    }
  },
  asyncComputed: {
    async statisticsAreCollected() {
      let stats = (await getBrowser().storage.local.get()).Statistics;
      if (!stats) {
        return "none";
      }
      if (!stats.progress.total) {
        return "none";
      }
      if (stats.progress.total != stats.progress.current) {
        return "partial";
      }
      return "full";
    }
  },
  data() {
    let cmListener = new ContentMessageListener(globalThis.browser, {
      onMessage(message, instance) {
        console.log(`Overview.vue message: ${JSON.stringify(message)}`);
      }
    });
    return {
      // cmListener: cmListener,
      options: null,
      statisticsCollectionRunner: null,
      statisticsAreCollected: false,
      statCollectionProgressStyle: {
        width: "0%"
      },
      statisticsCollection: {
        estimatedDuration: null,
        nTotalCollected: 0,
        startN: 0,
        running: false,
        startTime: null,
        current: 0,
        total: 0,
        percent: 0
      }
    };
  }
};
</script>