<template>
  <div id="times">
    <h2>Histogram</h2>
    <div class="lens-explanation">
      The following charts show you the peak times when you sent or receieved messages. This can help you determine when to reply to a message.
    </div>
    <div class="row">
      <a class="col s-12 btn btn-secondary ct-switcher" id="btn-hours">Hours</a>
      <a class="col s-12 btn btn-secondary ct-switcher" id="btn-weekdays">Weekdays</a>
      <a class="col s-12 btn btn-secondary ct-switcher" id="btn-months">Months</a>
    </div>
    <div class="dynamicChart" id="chart-hours">
      <canvas id="receivedTimes"></canvas>
      <canvas id="sentTimes"></canvas>
    </div>
    <div class="dynamicChart" id="chart-weekdays">
      <canvas id="receivedTimesWeekdays"></canvas>
      <canvas id="sentTimesWeekdays"></canvas>
    </div>
    <div class="dynamicChart" id="chart-months">
      <canvas id="receivedTimesMonths"></canvas>
      <canvas id="sentTimesMonths"></canvas>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import Chart from "chart.js";
import { Statistics, BeatPoints } from "lib/analytics";
import { userIsRecipient, userIsAuthor } from "lib/util";
import { getTimeBarChart } from "../../controllers/stats/times";

/**
const ChartButton = Vue.extend({
  template: `<a @click="displayChart='${displayName}'"
  v-bind:class="{'primary': '${visibleDisplay}'=='${displayName}',
    'secondary': '${visibleDisplay}' != '${displayName}',
    'btn': true}">
  ${label}
  </a>`,
  props: {
    displayName: null,
    visibleDisplay: null,
    label: null,
  },
});
**/

export default {
  name: "StatsTimes",
  asyncComputed: {},
  beforeMount: async function() {
    this.statistics = (
      await globalThis.browser.storage.local.get("Statistics")
    ).Statistics;
    $(document).ready(async function() {
      $('.dynamicChart').hide();
      $('#chart-hours').show();

      // Shows the specific chart on what timespan is selected.
      $('.ct-switcher').click(function ($ev) {
        $('.dynamicChart').hide();
        let id = $($ev.target).attr("id");
        let rawId = id.split('-')[1];
        $(`${id}`).removeClass('btn-secondary');
        $(`${id}`).addClass('btn-primary');
        $(`#chart-${rawId}`).show();
      });

      // Get the statistics
      this.statistics = (
        await globalThis.browser.storage.local.get("Statistics")
      ).Statistics;

      // Render the chart for the context
      // TODO: come up with a "plugin & listener" type system
      //       with a "ChartPage" type component
      let receivedCtx = $("#receivedTimes")[0];
      let sentCtx = $("#sentTimes")[0];
      let receivedWkdyCtx = $("#receivedTimesWeekdays")[0];
      let sentWkdyCtx = $("#sentTimesWeekdays")[0];
      let receivedMonthsCtx = $("#receivedTimesMonths")[0];
      let sentMonthsCtx = $("#sentTimesMonths")[0];
      getTimeBarChart(globalThis.browser, receivedCtx, "received", "hours");
      getTimeBarChart(globalThis.browser, sentCtx, "sent", "hours");
      getTimeBarChart(
        globalThis.browser,
        receivedWkdyCtx,
        "received",
        "weekDays"
      );
      getTimeBarChart(globalThis.browser, sentWkdyCtx, "sent", "weekDays");
      getTimeBarChart(globalThis.browser, receivedMonthsCtx, "receieved", "months");
      getTimeBarChart(globalThis.browser, sentMonthsCtx, "sent", "months");
    });
  },
  data: function() {
    return {
      statistics: null,
    };
  }
};
</script>